# Virtual Environment
DoEnv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Database
db.sqlite3

# Media
media/

# Static collected files
staticfiles/

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db